<div class="post">
    <div class="col-sm-2">
        <img ng-src="userPic(post.creator.profilePic)" alt="" />
    </div>
    <div><small>{{post.creator.fullName}}</small></div>
    <span>{{post.postContent}} <button type="button" class="close pull-right" ng-click="deletePost(post)">&times;</button></span>
    <br />
    <br />

    <div class="reply">
        <span><input class="form-control" type="text" ng-model="reply.replyContent" placeholder="Make a reply to this comment" /> <input class="btn btn-primary" type="button" value=" Share" ng-click="createReply(reply)" /></span>

    </div>
    <div ng-repeat="reply in post.replies">

        <div class="reply">
            <span>{{reply.replyContent}} <button type="button" class="close pull-right" ng-click="deleteReply(reply)">&times;</button></span>


        </div>
    </div>
</div>