<section>
    <!--loading-->
    <div class="row">
        <div class="col-md-12">
            <div ng-show="vm.isBusy" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
        </div>
    </div>

    <!--page content-->
    <div class="row">
        <div class="col-md-12">
            <!--create post-->
            <form class="form-inline">
                <img ng-src="{{userPic}}" class="img-circle" width="60" height="60" />
                <textarea class="form-control" style="min-width: 80%" ng-model="vm.post.postContent" placeholder="Share something with your community"/>
                <input class="btn btn-primary" type="button" value="Share" ng-click="vm.createPost(vm.post)" />
             </form>
             
                <br />
                <!--posts repeat section-->
                <div ng-repeat="(key, post) in vm.posts | orderBy: post.created ">
                    <post-directive post="post" delete-post="deletePost(post)"></post-directive>

                </div>

</div>
    </div>

</section>